<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adtec.daily.dao.user.TUserMapper" >
    <resultMap id="BaseResultMap" type="com.adtec.daily.bean.user.TUser" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="identity_no" property="identityNo" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="remark1" property="remark1" jdbcType="VARCHAR" />
        <result column="remark2" property="remark2" jdbcType="VARCHAR" />
        <result column="remark3" property="remark3" jdbcType="VARCHAR" />

        <!--关联查询的属性-->
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        user_id, user_name, role_id, password, gender, email, identity_no, mobile, create_time,
        create_user_id, update_time, update_user_id, remark1, remark2, remark3
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.adtec.daily.bean.user.TUserExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from t_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.adtec.daily.bean.user.TUserExample" >
        delete from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.adtec.daily.bean.user.TUser" >
        insert into t_user (user_id, user_name, role_id,
        password, gender, email,
        identity_no, mobile, create_time,
        create_user_id, update_time, update_user_id,
        remark1, remark2, remark3
        )
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER},
        #{password,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{identityNo,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{createUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR},
        #{remark1,jdbcType=VARCHAR}, #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.adtec.daily.bean.user.TUser" >
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="roleId != null" >
                role_id,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="gender != null" >
                gender,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="identityNo != null" >
                identity_no,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
            <if test="remark1 != null" >
                remark1,
            </if>
            <if test="remark2 != null" >
                remark2,
            </if>
            <if test="remark3 != null" >
                remark3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null" >
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null" >
                #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="remark1 != null" >
                #{remark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null" >
                #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null" >
                #{remark3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.adtec.daily.bean.user.TUserExample" resultType="java.lang.Integer" >
        select count(*) from t_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update t_user
        <set >
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null" >
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.roleId != null" >
                role_id = #{record.roleId,jdbcType=INTEGER},
            </if>
            <if test="record.password != null" >
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.gender != null" >
                gender = #{record.gender,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null" >
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.identityNo != null" >
                identity_no = #{record.identityNo,jdbcType=VARCHAR},
            </if>
            <if test="record.mobile != null" >
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createUserId != null" >
                create_user_id = #{record.createUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateUserId != null" >
                update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.remark1 != null" >
                remark1 = #{record.remark1,jdbcType=VARCHAR},
            </if>
            <if test="record.remark2 != null" >
                remark2 = #{record.remark2,jdbcType=VARCHAR},
            </if>
            <if test="record.remark3 != null" >
                remark3 = #{record.remark3,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update t_user
        set user_id = #{record.userId,jdbcType=VARCHAR},
        user_name = #{record.userName,jdbcType=VARCHAR},
        role_id = #{record.roleId,jdbcType=INTEGER},
        password = #{record.password,jdbcType=VARCHAR},
        gender = #{record.gender,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        identity_no = #{record.identityNo,jdbcType=VARCHAR},
        mobile = #{record.mobile,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
        remark1 = #{record.remark1,jdbcType=VARCHAR},
        remark2 = #{record.remark2,jdbcType=VARCHAR},
        remark3 = #{record.remark3,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.adtec.daily.bean.user.TUser" >
        update t_user
        <set >
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null" >
                identity_no = #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="remark1 != null" >
                remark1 = #{remark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null" >
                remark2 = #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null" >
                remark3 = #{remark3,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.adtec.daily.bean.user.TUser" >
        update t_user
        set user_name = #{userName,jdbcType=VARCHAR},
        role_id = #{roleId,jdbcType=INTEGER},
        password = #{password,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        identity_no = #{identityNo,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_user_id = #{createUserId,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
        remark1 = #{remark1,jdbcType=VARCHAR},
        remark2 = #{remark2,jdbcType=VARCHAR},
        remark3 = #{remark3,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <!--联合表根据ID查询具体需求信息-->
    <select id="selectByUserId" parameterType="com.adtec.daily.bean.user.TUser" resultMap="BaseResultMap">
        SELECT t1.user_id, t1.user_name, t1.project_id, t1.dept_id,t1.role_id, t1.password, t1.sex, t1.email, t1.mobile, t1.create_time,
        t1.create_user_id, t1.update_time, t1.update_user_id, t1.remark1, t1.remark2, t1.remark3,
        t4.role_name
        FROM t_user t1
        LEFT JOIN  t_role t4 on t4.role_id = t1.role_id
        WHERE
        <![CDATA[
              t1.user_id = #{userId,jdbcType=VARCHAR}
            ]]>
    </select>

    <select id="selectAllUser" resultMap="BaseResultMap">
        SELECT t1.user_id, t1.user_name, t1.project_id, t1.dept_id,t1.role_id, t1.password, t1.sex, t1.email, t1.mobile, t1.create_time,
        t1.create_user_id, t1.update_time, t1.update_user_id, t1.remark1, t1.remark2, t1.remark3,
        t4.role_name
        FROM t_user t1
        LEFT JOIN  t_role t4 on t4.role_id = t1.role_id
        WHERE 1=1
        <![CDATA[
              order by t1.create_time asc
            ]]>
    </select>
</mapper>